body {
  height: 80%;
  width: 80%;
  background: linear-gradient( 97deg ,rgba(34, 168, 58, 1) 0%, rgba(97, 189, 47, 1) 48%, rgba(152, 189, 30, 1) 100%);
}

html {
  scroll-behavior: smooth;
}

p {

  font-weight: 400;
  font-style: normal;
  font-size: x-large;
  color:rgb(34, 33, 27)
}

h2 {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
  color:rgb(34, 33, 27)
}
h1 {
  font-family: "Chewy", system-ui;
  font-weight: 1000;
  font-style: normal;
  font-size: xx-large;
  color:rgb(34, 33, 27);
}
li {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: large;
  color:rgb(184, 208, 186);
  
}
section {
  display: flex; 
  flex-direction: column;  
  align-items: center; 
  padding: 40px;
}

header {
  position:fixed; 
  top:0; 
  left:0; 
  right:0; 
  
  background-image: url("textured-natural-background-many-green-leaves.jpg") ; 
  box-shadow:0 2px 6px rgba(2, 49, 15, 0.1);
}

nav {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  max-width:1200px; 
  margin:0 auto; 
  padding:10px 20px;
}

a {
  text-decoration: none; 
  color:rgb(169, 220, 169); 
  font-weight: bold;
  font-size: x-large;
}

.nav-links a:hover {
  color: rgb(3, 52, 6); 
  transition: color 0.3s ease;
}

.flex {
  display: flex; 
  gap: 20px; 
  margin-top: 10px;
}

/* From Uiverse.io by joe-watson-sbf */ 
.container {
  color: white;
  font-family: sans-serif;
 
}

.container::before,
.container::after {
  content: "";
  background-color: #fab5704c;
  position: absolute;
}



.container::after {
  content: "";
  position: absolute;
  height: 3rem;
  top: 8%;
  right: 5%;
  border: 1px solid;
}

.container .box {
  width: 11.875em;
  height: 15.875em;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 0.7rem;
  transition: all ease 0.3s;
}



.container .box .title {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.container .box div strong {
  display: block;
  margin-bottom: 0.5rem;
}

.container .box div p {
  margin: 0;
  font-size: 0.9em;
  font-weight: 300;
  letter-spacing: 0.1em;
 
  
}

.container .box div span {
  font-size: 0.7rem;
  font-weight: 300;
}

.container .box div span:nth-child(3) {
  font-weight: 500;
  margin-right: 0.2rem;
  
}

.container .box:hover {
  box-shadow: 0px 0px 20px 1px #ffbb763f;
  border: 1px solid rgba(255, 255, 255, 0.454);
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 15px;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: flex-start;
}

.container .box {
  flex: 0 0 auto;
  margin: 0.5rem 0;
}
.tuff{
  flex-direction: row;
  display:flex;
  justify-content: space-between;
  padding: auto;
  margin: auto;
  gap: 20px;
}
