body {
  height: 3000px; /* Used to enable scrolling */
  background: linear-gradient( 97deg ,rgba(34, 168, 58, 1) 0%, rgba(97, 189, 47, 1) 48%, rgba(152, 189, 30, 1) 100%);
}

html {
  scroll-behavior: smooth;
}

p {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
  color:rgb(34, 33, 27)
}

h2 {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
  color:rgb(34, 33, 27)
}
h1 {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
  color:rgb(34, 33, 27)
}
li {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: large;
  color:rgb(34, 33, 27)
  background-color: rgba(2, 49, 15, 0.1);
}
section {
  display: flex; 
  flex-direction: column;  
  align-items: center; 
  padding: 40px;
}

header {
  position:fixed; 
  top:0; 
  left:0; 
  right:0; 
  z-index:1000; 
  background: transparent; 
  box-shadow:0 2px 6px rgba(2, 49, 15, 0.1);

nav {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  max-width:1200px; 
  margin:0 auto; 
  padding:10px 20px;
}